##################################################################################
# VARIABLES
##################################################################################

csp_api_token        = "***************"
cloud_proxy_name     = "sfo-vmc-cep01"
vro_integration_name = "sfo-w01-vro-integration"